<script type="text/javascript" >
 $(document).ready(function() {  
                    
                   
 
                    $(document).on('click', '#warranty_warning_cancel_btn', 
                    
                        function() {
                        
                            $('#jbServiceTypeID').val('');
                            $('#jbServiceTypeID').blur();
                            setValue('#jbServiceTypeID');
                            
                            $('#jbServiceTypeID').focus();
                            
                            $.colorbox.close();
                            return false;
                        
                        });
                        
                        
                        
                    $(document).on('click', '#warranty_warning_yes_btn', 
                    
                        function() {
                        
                            $('#jbReportedFault').focus();
                            $.colorbox.close();
                            return false;
                        
                        });     
                        
                        
                        
                   
            });
     

</script>


    
    <div id="WarrantyWarningDiv"  class="SystemAdminFormPanel" >
    
        
    <form action="{$_subdomain}/Job/warrantyWarning/" id="WarrantyWarningForm" name="WarrantyWarningForm" method="post" >
        <fieldset>
            <legend title="">{$form_legend|escape:'html'}</legend>

                <p>
                
                {$page['Text']['warranty_warning']|escape:'html'}
                
                </p>
                 
               
              
                <p>
                    <br>
                    <span class= "bottomButtons" >
                       
                            <input type="submit" name="warranty_warning_yes_btn" class="textSubmitButton" id="warranty_warning_yes_btn"  value="{$page['Buttons']['yes_button']|escape:'html'}" >

                            &nbsp;&nbsp;
                            <input type="submit" name="warranty_warning_cancel_btn" class="textSubmitButton helpClose" id="warranty_warning_cancel_btn"  value="{$page['Buttons']['no_button']|escape:'html'}" >

                            
                     </span>
                                           
                </p>


        </fieldset>
    </form>
                     
     
     
    </div>  
    
                      
