/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column () {
	float: left;
	margin-right: @gridGutterWidth;
}

/* Use this mixin to set the width of a column. you should avoid @levels wider then @width */
.span (@level: 1) {
	.column;
	width: (@level * @gridColumnWidth) + ((@level - 1) * @gridGutterWidth);
}

/* Use these classes to set the width of an input. */
.input_span (@level: 1) {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  //width: ((@level * @gridColumnWidth) + ((@level - 1) * @gridGutterWidth) - (@gridGutterWidth + 2px));
  width: (@level * @gridColumnWidth) + ((@level - 1) * @gridGutterWidth) - 12px;
}

/* Add these to a column to append empty cols. */
.append (@level: 1) {
  padding-right: ((@gridColumnWidth * @level) + (@level * @gridGutterWidth));
  //margin-right: ((@gridColumnWidth * @level) + (@level * @gridGutterWidth));
}

/* Add these to a column to prepend empty cols. */
.prepend (@level: 1) {
  padding-left: ((@gridColumnWidth * @level) + (@level * @gridGutterWidth));
  //margin-left: ((@gridColumnWidth * @level) + (@level * @gridGutterWidth));
}

/* Use these classes on an element to push it into the
   next column, or to pull it into the previous column.  */
.pull (@level: 1) {
	margin-left: (@gridColumnWidth * @level * -1) + (@level * -@gridGutterWidth);
	float: left; 
	position:relative;
}

.push (@level: 1) {
	margin: 0 ((@gridColumnWidth * @level * -1) + (@level * -@gridGutterWidth)) 1.5em ((@gridColumnWidth * @level) + (@level * @gridGutterWidth));
	float: right; 
        position:relative;
}

// Border Radius
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Border Top-Left, Border Top-Right
.border-radius-top-left(@radius:5px) {
border-top-left-radius: @radius;
-moz-border-radius-topleft: @radius;
-webkit-border-top-left-radius: @radius;
}
.border-radius-top-right(@radius:5px) {
border-top-right-radius: @radius;
-moz-border-radius-topright: @radius;
-webkit-border-top-right-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow: 0px 1px 0px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.box-shadow-glow(@shadow: 0px 0px 8px rgba(0, 0, 0, 0.1)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}
.box-shadow-border{
	 -webkit-box-shadow: 0 0 0 4px white, 0 6px 4px gray;
   -moz-box-shadow: 0 0 0 4px white, 0 6px 4px gray;
        box-shadow: 0 0 0 4px white, 0 6px 4px gray;
}
// Drop shadows
.remove-box-shadow() {
  -webkit-box-shadow: 0px 1px 0px @white;
     -moz-box-shadow: 0px 1px 0px @white;
          box-shadow: 0px 1px 0px @white;
}

//Box shadow inset
.box-shadow-inset(){
  -webkit-box-shadow: 0 1px 0 0 white inset;
  -moz-box-shadow: 0 1px 0 0 white inset;
  box-shadow: 0 1px 0 0 white inset;
  }

// Transitions
.transition(@transition) {
     -webkit-transition: @transition;
        -moz-transition: @transition;
         -ms-transition: @transition;
          -o-transition: @transition;
             transition: @transition;
}

// Button Gradient
.gradient(@from, @to) {
    background: -webkit-linear-gradient(top, @from, @to);
    background: -moz-linear-gradient(top, @from, @to);
    background: -ms-linear-gradient(top, @from, @to);
    background: -o-linear-gradient(top, @from, @to);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@from, endColorstr=@to);/*For IE7-8-9*/
}
.gradient-linear(){
 background:-moz-linear-gradient(center top , #F3F3F3 0%, #DDDDDD 50%, #D2D2D2 50%, #DFDFDF 100%);
  background:-webkit-linear-gradient(center top , #F3F3F3 0%, #DDDDDD 50%, #D2D2D2 50%, #DFDFDF 100%);
   background:-ms-linear-gradient(center top , #F3F3F3 0%, #DDDDDD 50%, #D2D2D2 50%, #DFDFDF 100%);
    background:-o-linear-gradient(center top , #F3F3F3 0%, #DDDDDD 50%, #D2D2D2 50%, #DFDFDF 100%);
}
/* ---------------------------------------------------------------------------
 *
 *  Google Plus Style Buttons
 *
 * ------------------------------------------------------------------------- */

.button() {
	text-decoration: none;
	//text-shadow: 0 1px 0 #fff;
        font-weight; normal;
	color: #444;
	display: inline;
	float: left;
	margin: 5px 5px 5px 0px;
	padding: 5px 6px 6px 6px;
	cursor: pointer;	
	border: solid 1px #D9D9D9;
        background: #F3F3F3;
        .border-radius(2px);
        .transition( border-color .20s );

        span.label {
            display: table-cell;
            //float: left;
            padding: 0 1em;
            overflow: hidden;
            color: #444;
            .transition( color .20s );
        }

        &:hover {
            background: #F4F4F4;
            border-color: #C0C0C0;
            color: #333;
            .box-shadow();
        }

        &:active {
            border-color: #C6C6C6 !important;
            color: #4D90FE;
            .box-shadow( none );
            span.label {
                color: #333 !important;
            }
        }
}

.plain-button( @background, @hover, @color ) {

    .button();

    background: @background;
    border: none;
    text-shadow: 0 0 0 @background;
    font-weight: normal;
    font-size: 0.9em;

    &:hover {
        background: @hover;
        .box-shadow( none );
    }

    &:active {
        background: @hover;
    }

    span.label {
        color: @color !important;
    }
}

.gplus-button( @color ) {

        .button();

        @border: darken(@color, 5.5%);
        @from: lighten(@color, 5%);
        @to: darken(@color, 5%);

        @hover: darken(@color, 3.8%);
        @borderHover: darken(@hover, 5.5%);
        @fromHover: lighten(@hover, 5%);
        @toHover: darken(@hover, 5%);

	border: 1px solid @border !important;
	background: @color;
        .gradient(@from, @to);
        .transition( border .20s );

        &:hover {
            border: 1px solid @borderHover !important;
            background: @hover;
           .gradient(@fromHover, @toHover);
        }

        &:active {
            border-color: @borderHover !important;
            color: #FFF !important;
        }

        span.label {
            color: #FFF !important;
           // text-shadow: 0 1px 0 @borderHover !important;
           // text-shadow: 0 0px 0 @borderHover !important;
        }

}

.gplus-disabled( @color ) {

        .button();

        background: @color;
        border: 1px solid @color !important;
        cursor: default;

        &:hover {
            border: 1px solid @color !important;
            background: @color;
            .box-shadow( none );
        }

        span.label {
            color: #FFF !important;
           // text-shadow: 0 1px 0 @borderHover !important;
           // text-shadow: 0 0px 0 @borderHover !important;
        }

}
/* Form Buttons */
.form-button{
text-decoration:none;
background-image:url(Skins/@{theme}/images/button_gradients.png);
background-repeat: repeat-x;
color:@white;
    display: inline-block; padding: 3px 7px; .box-shadow-glow; .border-radius(2px);
  border:1px solid #2769A8;
}
.form-button-hover{
background-image:url(Skins/@{theme}/images/button_gradients_hover.png);
background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 0 #2672ab;
    -moz-box-shadow: inset 0 1px 0 0 #2672ab;
display: inline-block; padding: 3px 7px; .box-shadow-glow; .border-radius(2px);
    color: @white;
    cursor: pointer; 
}
.form-button-active{
    -webkit-box-shadow: inset 0 0 1px 0px #014a99, 0 0 1px 0 #336699;
    -moz-box-shadow: inset 0 0 1px 0px #014a99, 0 0 1px 0 #336699;
    box-shadow: inset 0 0 1px 0px #014a99, 0 0 1px 0 #306396;
	color: @blueLightest;
	}
	

/*------------
Panel
-------------*/
.panel{
 padding-top :0;
 margin-top:5px;
.border-radius(2px);
border:1px solid #cccccc;
background-color:@white;
//.gradient(#f9f9f9, #e6e6e6);
//.box-shadow-border;
}
.panel-white{
 padding-top :0;
 margin-top:5px;
.border-radius(2px);
border:1px solid #cccccc;
background-color:@white;
}
.panel-empty{
 padding-top :0;
 margin-top:5px;
 border:none;
}
.stripes{
background-color: #e1f1ff;
background-image: linear-gradient(0, transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 10px;
}
