/* Site
-------------------------------------------------------------- */

// Note: input fields do not inherit font-family
//       * forces all elements to inherit this value.
body *{ font-family: @sansSerifFonts;
 }

html,body{ height:100%; /* needed for container min-height */
 }
body{ background:url(Skins/@{theme}/images/background.png) repeat;}
a, a:focus { font-size: 1.1em; text-decoration: none; color: @blue; }
a:hover { color: @loudColor; }
hr { height: 3px; color: @accent-1; background-color: @accent-1;}
fieldset { margin: 0 0 0.8em 0; padding:0 1.4em 1.4em 1.4em; .panel;}

input,text-area,select { margin-top: 2px; margin-bottom: 2px; }

form {
    label { 
        sup { color: @red; font-size: 1.2em; padding-top: 3px; }
        margin-right: 10px;
        //width: 190px;
    }
    input,select,span.text,textarea { color: @grayDark; .border-radius(7px); }
    textarea { resize: none; overflow:auto; }
    textarea.readonly {
        resize: none;
        border:none;
        background: @white;
        .remove-box-shadow();
        }
        
    input.readonly {
        border:none;
        background: @white;
        .remove-box-shadow();
        }     

    input.textSubmitButton {
        font-size: 1.1em; 
        color: @text; margin: 3px;
        background-color: transparent;
        text-decoration: underline;
        border: none;
        cursor: pointer;
        background: transparent;
    } 
    label.fieldError, label.formCommonError {
        background:url(Skins/@{theme}/images/error_icon.png) no-repeat 0px 3px;
        font-weight: bold;
        font-size: 1.1em;
        padding-bottom:3px;
        color: @red;
        text-align: left;
        padding-left: 20px;
    } 

     p { clear: both; }

     div.label { float:left; padding-top:10px; }
    
    .formError { font-size: 1.5em; color: @red; margin: 0 0 0 5px; }
    .auto-hint { color: #C0C0C0; }
    .information { font-size: 1.4em; margin-top: 0.8em; margin-bottom: 0.8em; }     
    .error, .alert { .form-message( #fbe3e4, #8a1f11, #fbc2c4 ); }
    .notice { .form-message( #fff6bf, #514721, #ffd324 ); }
    .success { .form-message( #e6efc2, #264409, #c6d880 ); }
    .info { 
        span{ color: @red; font-size: 1.2em; }
        .form-message( #fff, #404040, #fff );
        font-size: 1.2em;
        margin: 110px;
    }
    .disabledField {
        background-color: #F0F0F0;   
    }
    input#quick_find_btn,input#quick_find_btn2 {
        border: none;
        background-image:url('Skins/@{theme}/images/find_address.png');
        width:150px;
        height:21px;
        cursor: pointer;
    }  
    
}

/* Header Section
-------------------------------------------------------------- */
#container-main {  
    padding:0px 20px 30px;
    margin: 5px auto 10px auto; 
	background-color:@white;
	//.box-shadow(5px 5px 10px rgba(0,0,0,.25));
	box-shadow:0 0 0 4px white, 0 6px 4px gray;
    height:auto !important; /* real browsers */
    /* NOTE: .main clashes with jquery blackbird so make it subordinate to .container */
    .main { .span(24); .last; margin-top: 10px; };
	.border-radius(10px);
	border:1px solid #B7B7B7;
}


#header { 
    .span(24); .last; 
    padding-top: 0;
    margin-top: 11px;
    margin-bottom: 10px;
    position: relative;
    .logo { width: 166px; height: 100px; position: absolute; left: 0; bottom: 0;}
    #welcome { color: @grayDarkLight; position: absolute; right:0; top:5px; font-size: 1em; }
    #skyline { width: 131px; height: 44px; position: absolute; left: 414px; bottom: 0; }
    #customer-care { font-size: 2em; position: absolute; right: 0; top: 0; }
    #flags { 
        line-height: 11px; position: absolute; right: 0; bottom: 0; 
        a { line-height: 11px; text-decoration: none; }
    }
    min-height: 54px;
}

#lostUsernameForm, #accessDeniedForm {
    margin-top: 40px;
}
#lostPasswordForm, #resetPasswordForm  {
    margin-top: 60px;
}
#newUserForm, #registrationQueryForm {
    margin-top: 20px;
}
#registrationForm { 
    label { width: 160px; } 
    label.fieldError { width: 300px; margin-left: 177px; }
}

#open-jobs-form, #overdue-jobs-form {
    //border: 1px @accent-1 solid;
    //.border-radius(2px);
    //padding-top: 10px;
    //padding-bottom: 10px;
   //h3 { text-align: center; }
   margin-top:10px;
   margin-bottom:20px;
    p { margin-bottom: 5px; }
    label { display: inline-block; width: 200px; text-align:left;padding:5px 0px 0px 5px; }
    //span { padding-left: 5px; }
    .job-block { display: inline-block; margin-left: 10px; padding: 0; border: 1px @quietColor solid; .border-radius(3px); .box-shadow-glow; }
}
#open-jobs-form p, #overdue-jobs-form p{
 border-bottom: 1px solid #dddddd;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#open-jobs-form .serviceInstructionsBar,
#overdue-jobs-form .serviceInstructionsBar {
    margin-right: 1.4em;
}

#tabs {
    a { font-size: 0.8em; padding-left: 5px; padding-right: 5px; }
    .browse { font-size: 0.8em; }
}

#menu { 
    //.span(24); .last;
    float: left;
    .last { margin-right: 0; }
    border-bottom:1px solid #c1c1c1;
    //margin-bottom: 5px;
    button {
        //.plain-button( @accent-1, #006182, @white );
       .plain-button( #f4f4f4, @blueDark, @blue );
        //width: 131px;
        span.label { padding: 0; margin: 0 auto; }
        margin-bottom: 0;
	font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-style: bold;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: normal;
        line-height: 1.6em;
        text-shadow: 0 1px 0 @gray;
	color:@blueDark;
	.box-shadow-inset();
	border-top:1px solid #dddddd;
	border-left:1px solid #c5c5c5;
	border-right:1px solid #c5c5c5;
	.border-radius-top-left(7px);
	.border-radius-top-right(7px);
	.gradient(#f4f4f4, #f2f2f2);
	.transition( border-color .20s );
    } 
    button:hover{
	background-color:@white;
	text-shadow: 0 1px 0 #dddddd;
	color:@blue;
	.gradient(#e9e9e9, #ffffff);
	}
    //.last { margin-right: 0; float: right; }
    .disabled { cursor: default; }
    //.disabled:hover { background-color: @accent-1; } 
    .disabled:hover { .gradient(#f4f4f4, #f2f2f2); text-shadow: 0 1px 0 @gray; color:@blueDark; border-top:1px solid #dddddd; } 
}

.uppercaseText
{
    text-transform:uppercase
}
.lowercaseText
{
    text-transform:lowercase
}
.capitalizeText
{
    text-transform:capitalize
}


.breadcrumb {
    .span(24); .last;
    //margin-bottom: 10px;
  		border-top:1px solid #dddddd;
		.gradient(#0088CC, #189CDE);
		.border-radius-top-left(7px);
		.border-radius-top-right(7px);
		.box-shadow(0px 1px 5px rgba(50, 50, 50, 0.12));
    div { 
        padding: 3px 6px;
        color: @white;
        font-weight: normal;
		 font-size: 1.3em;
        //span { color: @white; }
        a {  font-size: 1em; color: @white; padding-left:5px; }
        a:hover { color: @light-grey; text-decoration:none; }
    }
}

#jobSearchForm a, #productSearchForm a, #newJobBookingForm a{
.form-button;
}
#jobSearchForm a:hover, #productSearchForm a:hover, #newJobBookingForm a:hover{
.form-button-hover;
	}
#jobSearchForm a:active, #productSearchForm a:active, #newJobBookingForm a:active{
 .form-button-active;
	}


#newJobBookingForm {

    .spaceBlock {
        margin-right:20px;
        width: 170px;
        text-align:center;
    }
   
    label.fieldError {  margin-left:20px; font-size: 1em; }
   
}



#productSearchForm {

    .noResults {
        float:left;
        padding-left:20px;
        color:red;
    }
}

#loginForm a, #loginForm a:hover, #loginForm a:active{
text-decoration: underline;
padding-bottom:2px;
}
.blankBox {
    height:130px;
    width:100%;
  }
.SearchPanel {
    .span(24); .last; 
    h3 { display: inline-block; margin-right: 40px; }
   

    //background: @grayDarkLighter;
    //margin: 5px 0 10px 0;
    margin: 10px 0 10px 0; 
    //border: 1px @text solid;;
    //div { padding: 20px; }
    form {
       // input[type=text] { width: 770px; font-size: 1.6em; color: @grayDark; .border-radius(7px); }
       // input[type=radio] { font-size: 1.2em; color: @text; }
        //a { margin-left: 10px; }
    }
   
    .bigTextBox
    {
         width: 770px; 
    }

    fieldset{
       .panel;
	   .box-shadow-border;
	   //box-shadow:0px 3px 0px rgba(0,0,0,.45);
    }
    .serviceInstructionsBar{
        padding: 0; margin-top: -12px; // height: 18px;  padding: 8px 0;
    }
    #productAdvancedSearchForm {
       // input[type=text] { width: 300px; font-size: 1.6em; color: @grayDark; margin:0;  }
       // select { width: 312px; font-size: 1.6em; color: @grayDark; margin:0; }
      //  p { margin: 0 0 3px 0; text-align: center; }
      .TopText { margin: 10px 0 10px 0; font-size: 1.2em; text-align: center;}
      select { font-size: 1.2em; }
      .formError { font-size: 1.2em;}
     // text-align:center;
      .fieldLabel { .span(9); text-align: right; }
      

      label.fieldError { .span(10); margin-left:300px; }
      .centerBtn {

            text-align: center;
        }

        .noResults { margin: 10px 0 10px 0; font-size: 1em; text-align: center; color:red;}


    }
    #jobAdvancedSearchForm {
      //  input[type=text] { width: 300px; font-size: 1.6em; color: @grayDark; margin:0; padding: 6px;  }
      //  select { width: 312px; font-size: 1.6em; color: @grayDark; margin:0; }
      //  p { margin: 0 0 3px 0; clear:both; }
      
      input[type=text] { width: 250px;}
      .TopText { margin: 10px 0 10px 0; font-size: 1.2em; text-align: center;}
      select { font-size: 1.2em; width: 262px; }
      .formError { font-size: 1.2em;}
      .fieldLabel { .span(5); text-align: right; }
      .fieldLabel2 { .span(3); text-align: right; }
      label.fieldError { .span(10); margin-left:300px; }
      .centerBtn {

            text-align: center;
        }
    }
    #freeTextJobBookingForm {
        input[type=text] { width: 300px; font-size: 1.6em; color: @grayDark; margin:0;  }
        select { width: 312px; font-size: 1.6em; color: @grayDark; margin:0; }
        p { margin: 0 0 3px 0; }
    }
    hr { height: 3px; color: @accent-1; background-color: @accent-1;}
}

#productAdvancedSearchForm fieldset .last #container-main{
width:700px;
.panel-empty;
.box-shadow-remove;
}
#productAdvancedSearchForm fieldset{
height:90%;
}
.innerLegend{
height:35px;
font-size:14px;
}

.accordion {
    .span(24); .last;
    .head {
        cursor: pointer;
        background-color: @accent-1;
        color: @white;
        padding-top: 3px;
        padding-bottom: 3px; 
        padding-left: 3px;
        .border-radius(7px);
    }
    .content {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 100px;
    }
}

.productDetailsPanel {
    p { clear: both; }
    .span(36); .last; 
    .productLabel { .span(4); font-size: 1.2em;}
    .productValue { .span(18); .last; font-size: 1.2em; }
}

.serviceInstructionsBar {
    //.span(24); .last;
    text-align: right;
    padding: 0; margin-top: -12px;
}
.serviceInstructionsPanel {
    .span(22); .last;
}

.serviceActionsPanel {
    .span(24); .last;
    font-size: 1.2em;
    .textButton { padding: 20px; background-color: @accent-1; color: @white; border: 1px @text solid; font-weight: bold; font-size: 0.8em;}
    a { color: @white; }
    .textButtonDisabled { padding: 20px; background-color: @white; color: @text; border: 1px @text solid; font-size: 0.8em; }
    .textDisabled { color: lighten(@text, 20%); padding-top: 10px; }
    .textEnabled { color: @text; padding-top: 10px; }
}

.jobPanel {
    .prepend(1); .span(22); .append(1); .last;
    border: 1px @text solid;
    font-size: 1.2em;
    .centre { .span(24); .last; padding-bottom: 20px; padding-top: 20px; }
    .fieldLabel { .span(6); text-align: right; }
    .fieldValue { .span(16); .last;}
    #print { .prepend(6); .span(6); }
    #finish { .span(2); .last; }
    padding-bottom: 20px;
}

.filterPanel {
    .span(22); .last;
    font-size: 1.2em;
    padding-bottom: 20px;
}

.buttonPanel {
    .span(24); .last;
    font-size: 1.2em;
    padding-top: 20px;
    #select { .prepend(13); .span(9); }
    #cancel { .span(2); .last; width:auto; float:right; }
    hr { margin-bottom: 2px; }
}

.jobBookingPanel {
    .prepend(1); .span(22); .append(1); .last;
    //border: 1px @black solid;
    .jobBookingLabel { .span(6); text-align:right; margin: 5px 5px 5px 0;}
    .jobBookingValue { .span(16); .last; text-align:left; margin: 5px 0 5px 5px;}
    .jobBookingValueInner {.last; text-align:left; font-size: 1.1em; margin: 0px 0 3px 2px; padding-left:250px;}
    .jobBookingTopText {.last; text-align:left; font-size: 1.2em; margin: 0px 0 3px 2px; padding-left:250px;
         span { color: @red; font-size: 1.2em; }
     }
    .blueText { color:@blue; }
  
    form {
        input[type=text] { width: 390px; .border-radius(7px);}
        input[type=radio] {margin-bottom:6px;margin-top:4px;}
        span { font-size: 1.2em; }
        .dateField { width:111px; !important }
        .phoneField { width:222px !important }
        .extField {  width:153px !important }
        .oneThirdField {  width:120px !important }
        
        .oneThirdTextLabel { 
            font-size:1em;
            margin-left:12px;
            margin-right:2px;
            text-align: left;
            width:120px !important 
        }

        .topTextLabel { 
            font-size:1em;
            margin-left:12px;
            margin-right:2px;
            text-align: left;
            margin-top: 10px;
        }


        textarea { font-size: 1.2em;  width: 390px; height:100px; }
        select { font-size: 1.2em;  width: 402px; }
        /*a { margin-left: 10px; }*/
        label { .span(6); }
        label.fieldError { .span(15); margin-left:250px; }
        .form-button {
            cursor:pointer;
        }
    }
}


input #productSearch .text{
border-radius(7px);
}


.jobConfirmation {
    label { padding-left:10px; }

   h2 { 
        text-align: center;
    }    


    .fieldLabel { .span(4); text-align: right; }
    .fieldValue { .span(14); .last; text-align: left;}
    .fieldValueSub{.span(14); font-size: 0.9em;  color:@blue;  text-align: left;}
    .moreInfo{font-size: 0.9em;  color:@blue;  text-align: left;}
    
    .bottomButtons { .span(17); text-align: center; }

     .topText { .span(18); text-align: center; padding-bottom:10px;}
   
    label.fieldError { .span(14); font-size: 1em;}

   .leftBtn {

        float:left;
    }
    .centerBtn {

        float:center;
    }
    .rightBtn {
       
         float:right;
    
    }

   .form-button {
            cursor:pointer;
        }

}

.noEmailPage{

   .blueText {
        color:@blue;
    }
    
    label.fieldError { .span(6); font-size: 1em; margin-left:180px;}

    input[type=text] { width: 220px;}

   .insideText {
          
        padding-left:30px;
        padding-right:30px;
    }
}


.allYoursPage{

    .insideText {
          
        padding-left:30px;
        padding-right:30px;
    }

   
}




.jobCancelationRequest { 

   
    label {
            font-size: 1.1em;padding-left:10px; .span(17)
        }

    

    .bottomButtons { .span(17); text-align: center;}

    .topText { .span(17); text-align: center;}

    
   
   
}


.bookingProcessPanel {
    
    


    .prepend(1); .span(22); .append(1); .last;

    p, h2 { 
        text-align: center;
    }
   
    

    label { text-align:center; .span(20); }
    
    .leftBtn {

        float:left;
    }

    .rightBtn {
       
         float:right;
    
    }

}



.PostCodeNotListedForm {
   label{
     text-align:left;
   }
}

.dataProtectionPage {
    
   h2 { 
        text-align: center;
    }

    label{
     text-align:left;
   }
    .leftText {
         text-align:left;
    }
    
 .rightText {
         text-align:right;
         padding-left:110px;
    }



    table
    {
        border-color: @blue;
        border-width: 0 0 1px 1px;
        border-style: solid;
    }

    td, th
    {
        border-color: @blue;
        border-width: 1px 1px 0 0;
        border-style: solid;
        margin: 0;
        padding: 4px;
    }
    th {
        font-size:1.5em;
    }
    .firstColumn {
    
        width:30%;
        font-weight:bold;
    }

    .textLink {
    
        font-size:1em;
    }

    .padLeft {
    
        padding-left: 20px;
    }

     .bottomButtons { .span(17); text-align: center;}
    label.fieldError { .span(12); font-size: 1em;}
}

#timeline_container {
    legend {  margin-left: 20px; }
    margin: 0;
    float: left;
    p { text-align: center; }
    .node { float: left; width: 119px;  }
    .past, .past-red { background: url("Skins/@{theme}/images/past.png") no-repeat center 35px; }
    .present {background: url("Skins/@{theme}/images/present.png") no-repeat center 35px; }
    .present-red {background: url("Skins/@{theme}/images/present-red.png") no-repeat center 35px; }
    .future, .future-red { background: url("Skins/@{theme}/images/future.png") no-repeat center 35px; } 
    .date { margin-top:60px; }
    .first, .last { width: 117px; }
    fieldset { padding: 10px 0}
    }

.openJobsPanel {

  .append(1); .last;
   width:100%;
   .textPadding{
        padding-top:10px;
    }
   .leftAlign {
    
    float:left;
    width:94px;
    height:26px;
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    vertical-align:bottom;
    padding:5px 0px 0px 0px;
    margin-right:12px;
        
    }
   
    .imgMiddle 
    {
        padding-top:5px;
    }

    .rightAlign {
    
    float:right;
        
    }

    .textLink 
    {
        color: @blue;
    }

 
}

.openJobsResultsPanel{

    padding-top:15px;
}


.overdueJobsPanel {

  .append(1); .last;
   width:100%;
   .textPadding{
        padding-top:10px;
    }

  .leftAlign {
    
    float:left;
    width:94px;
    height:26px;
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    vertical-align:bottom;
    padding:5px 0px 0px 0px;
    margin-right:12px;
        
    }
   
    .imgMiddle 
    {
        padding-top:5px;
    }

    .rightAlign {
    
    float:right;
        
    }

   .textLink 
    {
        color: @blue;
    }
 
}

.overdueJobsResultsPanel{

    padding-top:15px;
}

.AdminItemPanel{

    height:120px;
    background:url(Skins/@{theme}/images/folder.png) no-repeat 0px 10px;
    .span(7);  .last;
    //border: 1px @text solid;
    font-size: 1.2em;
    margin: 20px 0px 20px 0px;
    padding-left: 40px;
    padding-right: 2px;
    cursor:pointer;
    label {
         color:@blue;
         margin-top:10px;
         margin-right:0px;
         cursor:pointer;

    }
    span {
         color: @text;


    }

}


.systemAdminPanel {

  .append(1); .last;
   width:100%;

}



.LTResultsPanel {

    margin-top:20px;
   .append(1); .last;
    width:100%;
   label{ 

        text-align:left;
    }

}

.LTTopPanel {

   
   .append(1); .last;
    width:100%;
   label{ 

        text-align:left;
    }

}





.SystemAdminFormPanel {

    label {
            padding-left:10px;
        }

    h2 {
            text-align: center;
        }

     select {  width: 312px; }

    .fieldLabel { .span(3); text-align: right; }
    .fieldValue { .span(12); .last; text-align: left;}

     .topText {.last; text-align:left; font-size: 1.2em; margin: 0px 0 3px 2px; padding-left:115px;

         span { color: @red; font-size: 1.2em; }

     }

     p { padding-bottom: 3px; }

    .bottomButtons { .span(14); text-align: center; }

    label.fieldError { .span(8); font-size: 1.2em; margin-left:140px; }

    label.formCommonError { .span(14); font-size: 1.2em;  text-align: center; }

   .leftBtn {

        float:left;
    }
    .centerBtn {

        float:center;
    }
    .rightBtn {

         float:right;

    }

}

.bottomButtonsPanel {

    margin-top:20px;
   .append(1); .last;
   width:100%;
   hr {
        height:1px;
    }


   .leftBtn {

        float:left;
    }
    .centerBtn {

        float:center;
    }
    .rightBtn {

         float:right;

    }
    
}

.ServiceAdminResultsPanel {

    margin-top:20px;
   .append(1); .last;
    width:100%;
   label{ 

        text-align:left;
    }

}

.ServiceAdminTopPanel {

   
   .append(1); .last;
    width:100%;
   label{ 

        text-align:left;
    }

}
#SNFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    .phoneField { width:185px }
    .fieldInput { 
        float:left; margin-left:20px; 
        ul {
            margin:0; padding:0;
            li { 
                list-style: none;
                .close { cursor:pointer;}
            }
        }
    }
    .extField {  width:100px }
    label.fieldError { .span(8); font-size: 1.2em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }

}


#ClientsFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    .phoneField { width:185px }
    .extField {  width:100px }
    label.fieldError { .span(8); font-size: 1.2em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }

}

#BrandsFormPanel {

    .fieldLabel { .span(4); text-align: right; }
    label.fieldError { .span(8); font-size: 1.2em; margin-left:185px; }
    p { padding-bottom: 1px; }
   
}

#BranchesFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    .phoneField { width:185px }
    .extField {  width:100px }
    label.fieldError { .span(8); font-size: 1.2em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
   .checkBoxText {
        width:300px;
        text-align:left;
        margin-left: 275px;
        font-size:1em;
        label.fieldError { .span(8); font-size: 1.2em; margin-left: 0px; }
    }
    
}

#ManufacturersFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.2em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}

.assignedTextBox { 
    margin-left:25px;
   }
.checkBoxDataTable {
    margin-left:10px;
}   

.centerInfoText
{
    text-align: center;
    align: center;
    color:@blue;
    font-weight: bold;
    font-size:13px;
}

#UnitTypesFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.2em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}


#ModelsFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.2em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}

.topDropDownList {

    width:220px;
}


#PricingStructureFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.2em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}


#ProductNumbersFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.2em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}



.ac_results {
        width: 309px;
        padding:0px;
	margin: 0px 0px 0px 220px;
	border: 1px solid #7FB7FB;
	overflow: hidden;
        background-color: @blue;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	/*filter:mask();*/
	/*width:3000px;
	height:3000px;*/
  
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	overflow: hidden;
  
}

.ac_loading {
	background : @blue url('Skins/@{theme}/images/loader.gif') right center no-repeat;
}

.ac_over {
	background-color: white;
	color: black;
}


#ServiceProvidersFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    .phoneField { width:185px  }
    .extField   {  width:100px }
    .timeField  {  width:135px; text-align:left; } 

    .textArea   {  width:295px;height:100px;margin-left:2px; } 



    label.fieldError { .span(8); font-size: 1.2em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
   .labelHeight { height: 27px; }    
}

legend{
    //.border-radius-top-left(7px);
	//.border-radius-top-right(7px);
	.border-radius(7px);
	.gradient(#ffffff, #FEFEFE);
    color: @blueDark;
    font-weight: bold;
	font-size:1.6em;
	text-transform:uppercase;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 15px;
	}

#error{
.panel-empty;
box-shadow;
padding:10px;
font-size:1.1em;
width:90%;
}

#error h2, #error h3{
color:#666;
}

.postCodesBox {
    float: right; 
    margin-right: 20px;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:30px;
    width: 425px; 
    height: 230px;
}

#generalDefaultFormPanel {

    .text_area { width: 300px; height:150px; }
}


#JobNetworkClientForm
{
     
        label { width:100px; }
        label.fieldError { .span(7); margin-left:120px; }
        .formError { font-size: 1.5em; color: @red; margin: 0 0 0 5px; }

        .form-button {
            cursor:pointer;
            margin-right:20px;
        }
    
}


.siteMapPanel {

  h3 { margin-bottom:4px; margin-top:20px; padding-bottom:0px;}
  .firstDiv 
    {
        width:280px;
        float:left;
    }

  .labelLeft {
    width:200px;
    text-align:left;
    font-size:1em;
    padding:3px;
  }  
 
 .secondDiv 
    {
        width:560px;
        float:left;
        margin-left:15px;
        margin-right:10px;
       
    }

  .borderDiv {

    border-color:#CCCCCC;
    border-width:1px;
    border-style:solid;
    margin-top: 20px;
    padding:10px 10px 7px 7px;

  }


  .form-button {
            cursor:pointer;
        }

  .fieldLabel { width:170px; text-align: right; }

    .assistDiv {

       text-align:center;
       border-style:none;
       margin-top:6px;
       padding:0px 10px 7px 7px;

      }

      label.fieldError { margin-left:193px;}
}


#SPEResults {
   
    margin-top:3px;
    border-style: none;
    background-color:none;
    td {
        border-style: none;
       
    }

    th {
        border-style: none;
        height:0px;
    }

}

#PostCodeMapTable {

    td {
        background-color:transparent;
        background-image: url('');
        border-color:#CCCCCC;
        border-style:solid;
        
    }

    .topFirstCol, .topSecondCol{
         border-bottom-width:1px;
    }
    .firstCol{
        
        border-left-width:1px;
        border-bottom-width:1px;
        border-right-width:1px;
        width:70px;
        text-align:center;
        vertical-align:top;
    }

    .secondCol{
       
        border-bottom-width:1px;
        border-right-width:1px;
    }

    textarea {

        width:445px;
        height:35px;
    
    }
    margin-bottom :0px;
}


#SPSSResults {

    margin-top:3px;
    border-style: none;
    background-color:none;
    td {
        border-style: none;
       
    }

    th {
        border-style: none;
        height:0px;
    }

}

#skillsAreaMapForm {
label.fieldError { margin-left:5px; font-size:1em;}
}

#SPSFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(9); font-size: 1em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}

.ServiceProvidersPage
{
    .span(18);
}
#SiteMapPageHeader {

    text-align:center;
    color:@accent-1;
}